body {
  padding: 0;
  margin: 0;
}
body.website {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
}
body.calc {
  background-color: #133a83;
}
body.skills2 {
  background-color: #7cd1b0;
}
header.main {
    background-color: #133a83;
    padding: 0;
    margin: 0;
    border:none;
}

#background {
    background-image: url(./images/background-math.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
    z-index: -1;
}
#background2 {
    background-image: url(./images/Calculator_Page.png);
    width: 100%;
    height: 1800px;
    background-size: 100% 1800px;
    background-repeat: no-repeat;
    margin: 0px;
    margin-top: -20px;
    padding: 0px;
}

li.link {
    display: inline-block;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.3em;
}

li a {
    color: #000000; 
    text-transform: uppercase;
}

#mySidenav a {
  position: fixed;
  left: -100px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 16.8px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: normal;
}

#mySidenav a:hover {
  left: 0;
}

#home {
  top: 20px;
  background-color: #7cd1b0;
}

#calcs {
  top: 75px;
  background-color: #56a0dc;
}

#skills {
  top: 152px;
  background-color: #ff8435;
}
#mySidenav2 a {
  position: fixed;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 17.8px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: normal;
}

#mySidenav2 a:hover {
  left: 0;
}

#home2 {
  top: 20px;
  background-color: #7cd1b0;
}

#calcs2 {
  top: 80px;
  background-color: #56a0dc;
}

#skills2 {
  top: 165px;
  background-color: #ff8435;
}
#mySidenav3 a {
  position: fixed;
  left: -90px;
  transition: 0.3s;
  padding: 15px;
  width: 120px;
  text-decoration: none;
  font-size: 17.8px;
  color: white;
  border-radius: 0 5px 5px 0;
  z-index: 1;
  font-family: 'EB Garamond', serif;
  font-style: normal;
  font-weight: normal;
}

#mySidenav3 a:hover {
  left: 0;
}

#home3 {
  top: 20px;
  background-color: #7cd1b0;
}

#calcs3 {
  top: 80px;
  background-color: #56a0dc;
}

#skills3 {
  top: 165px;
  background-color: #ff8435;
}
h1.center {
    position: relative;
    top: 380px;
    text-align: center;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: normal;
    font-size: 128px;
    line-height: 128px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #FFFFFF;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
}

h1.center2 {
    position: relative;
    top: 140px;
    text-align: center;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 75px;
    line-height: 128px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #1e55b4;
}
li a:hover {
    color:#1e55b4;
}


.arrow {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    border-style: solid;
    border-color: white;
    border-width: 0px 3px 3px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
    margin: auto;
    position: relative;
    top: 71vh;
}
  
  .arrow:hover {
    border-bottom-width: 7px;
    border-right-width: 7px;
}
   
#section1 {
    height: 110vh;
    background-color: #133a83;
    padding: 0;
    margin: 0;
}

h1.main {
    text-align: center;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 128px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: #FFFFFF;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
ol.mods {
    margin-top: 70px;
    text-align: center;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: normal;
    font-size: 6vh;
    color: #dadada;
    text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.5);
    list-style-type: none;
}
#section2 {
    width: 100%;
    height: 1080px;
    background-color:whitesmoke;

}

img.side2 {
    border-color: #01618d;
    border-width: 10px;
    border-style:outset;
    border-radius: 100px;
    margin-top: 5%;
    margin-right: 5%;
    width: 45%;
    height: 50%;
    float: left;
    background-repeat: no-repeat;
    z-index: -2;
}
img.side1 {
    border-color: #8d0101;
    border-width: 10px;
    border-style: inset;
    border-radius: 100px;
    margin-bottom: 5%;
    margin-left: 5%;
    width: 45%;
    height: 50%;
    float: left;
    background-repeat: no-repeat;
}
p.experience {
    position: relative;
    text-align: center;
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #dadada;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  overflow-y: hidden;
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 100hv;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

  #myImg2 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg2:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content2 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption2 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content2, #caption2 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close2 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close2:hover,
  .close2:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg3 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg3:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content3 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption3 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content3, #caption3 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close3 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close3:hover,
  .close3:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg4 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg4:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal4 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content4 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption4 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content4, #caption4 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close4 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close4:hover,
  .close4:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg5 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg5:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal5 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content5 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption5 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content5, #caption5 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close5 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close5:hover,
  .close5:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg6 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg6:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal6 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content6 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption6 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content6, #caption6 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close6 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close6:hover,
  .close6:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg7 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg7:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal7 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content7 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption7 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content3, #caption7 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close7 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close7:hover,
  .close7:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg8 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg8:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal8 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content8 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption8 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content8, #caption8 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close8 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close8:hover,
  .close8:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg9 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg9:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal9 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content9 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption9 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content9, #caption9 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close9 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close9:hover,
  .close9:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg10 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg10:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal10 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content10 {
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption10 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content10, #caption10 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close10 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close10:hover,
  .close10:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  #myImg11 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg11:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal11 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow-y: hidden;
  }
  
  /* Modal Content (Image) */
  .modal-content11{
    margin: auto;
    display: block;
    width: 60%;
    max-width: 100hv;
  }
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption11 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content11, #caption11 {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close11 {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close11:hover,
  .close11:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
div.cards {
      display: flex;
      justify-content: space-evenly;
      margin-left: 10%;
      margin-right: 10%;
      position: relative;
      top: 175px;
}

  div.cards2 {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
    top: 290px;
}

div.cards3 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  top: 415px;
}

div.cards4 {
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  position: relative;
  top: 540px;
}

img {
  border-color: rgb(223, 223, 223);
  border-width: 5px;
  border-style: outset;
  border-radius: 15px;
}

#img01 {
  border-color: whitesmoke;
  border-width: 5px;
  border-style: solid;
  border-radius: 15px;
}

#myImg12 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  border-color: whitesmoke;
  border-width: 10px;
  border-style: solid;
  border-radius: 15px;
  margin-top: 4%;
  margin-left: 5%;
  width: 45%;
  height: 50%;
  float: left;
}

#myImg12:hover {opacity: 0.7;}

/* The Modal (background) */
.modal12 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  overflow-y: hidden;
}

/* Modal Content (Image) */
.modal-content12{
  margin: auto;
  display: block;
  width: 82%;
  max-width: 100hv;
  height: 100vh;
  border-style: none;
  border-radius: 0px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption12 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content12, #caption12 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close12 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close12:hover,
.close12:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

#myImg13 {
  cursor: pointer;
  transition: 0.3s;
  border-style:none;
  border-color: whitesmoke;
  border-width: 10px;
  border-style: solid;
  border-radius: 15px;
  margin-bottom: 5%;
  margin-right: 5%;
  width: 45%;
  height: 50%;
  float: left;
}

#myImg13:hover {opacity: 0.7;}

/* The Modal (background) */
.modal13 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  overflow-y: hidden;
}

/* Modal Content (Image) */
.modal-content13{
  margin: auto;
  display: block;
  width: 82%;
  height: 100vh;
  max-width: 100hv;
  border-style: none;
  border-radius: 0px;
}
/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption13 {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content13, #caption13 {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close13 {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close13:hover,
.close13:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
#infographic {
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}
img.info {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  border-style: none;
  border-radius: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  min-height: max-content;
  mix-blend-mode: luminosity;
  -webkit-filter: contrast(1.25);
  filter: contrast(1.25);
  image-rendering:optimizeQuality;
  z-index: 1;
}
